In [42]:
import os
os.getcwd()

'C:\\Users\\vyshn\\Desktop\\Data Sets'

In [43]:
os.chdir("C:/Users/vyshn/Desktop/Data Sets")

In [44]:
os.getcwd()

'C:\\Users\\vyshn\\Desktop\\Data Sets'

In [45]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
Emp_data=pd.read_csv('9HR-Employee-Attrition.csv')

In [46]:
Emp_data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,No,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,No,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,No,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,No,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,No,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,No,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,No,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,No,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,No,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,Yes,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,No,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,No,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,No,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,No,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,No,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2
20,24,No,Non-Travel,673,Research & Development,11,2,Other,1,26,...,4,80,1,5,5,2,4,2,1,3
21,36,Yes,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,No,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
23,21,No,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,4,80,0,0,6,3,0,0,0,0
24,34,Yes,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3
25,53,No,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,4,80,1,26,3,2,14,13,4,8
26,32,Yes,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,...,2,80,0,10,5,3,10,2,6,7
27,42,No,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
28,44,No,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,...,4,80,1,24,4,3,22,6,5,17
29,46,No,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,No,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,...,2,80,3,18,3,3,4,2,0,2
1441,56,No,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,1,80,1,13,2,2,13,12,1,9
1442,29,Yes,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,...,2,80,3,4,3,4,2,2,2,2
1443,42,No,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2031,...,1,80,0,24,2,2,22,6,4,14
1444,56,Yes,Travel_Rarely,310,Research & Development,7,2,Technical Degree,1,2032,...,4,80,1,14,4,1,10,9,9,8
1445,41,No,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,...,3,80,1,21,3,3,20,7,0,10
1446,34,No,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,...,4,80,2,8,2,3,8,7,1,7
1447,36,No,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11
1448,41,No,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,3,80,1,14,5,3,5,4,0,4
1449,32,No,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2038,...,4,80,0,4,4,3,4,2,1,2
1450,35,No,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,...,3,80,0,9,2,3,9,0,1,7
1451,38,No,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,...,3,80,1,10,1,3,10,7,1,9
1452,50,Yes,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,...,4,80,2,12,3,3,6,3,0,1
1453,36,No,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,...,1,80,1,8,2,2,6,3,0,0
1454,45,No,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,...,3,80,0,8,3,3,5,3,0,1
1455,40,No,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,...,4,80,0,8,2,3,2,2,2,2
1456,35,No,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,4,80,2,10,2,4,10,2,0,2
1457,40,No,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,...,2,80,3,20,2,3,5,3,0,2
1458,35,No,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,...,4,80,1,4,5,3,4,3,1,1
1459,29,No,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,...,1,80,1,10,2,3,4,3,0,3
1460,29,No,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,...,2,80,0,5,3,1,5,4,0,4
1461,50,Yes,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,...,2,80,1,20,3,3,3,2,2,0
1462,39,No,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1463,31,No,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,2,80,0,10,2,3,9,4,1,7
1464,26,No,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [47]:
Emp_data['Attrition'].value_counts()

No     1233
Yes     237
Name: Attrition, dtype: int64

In [48]:
Emp_data['Attrition'].replace(['Yes','No'],[0,1],inplace=True)

In [49]:
Emp_data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,0,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,1,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,0,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,1,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,1,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,1,Travel_Frequently,1005,Research & Development,2,2,Life Sciences,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,1,Travel_Rarely,1324,Research & Development,3,3,Medical,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,1,Travel_Rarely,1358,Research & Development,24,1,Life Sciences,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,1,Travel_Frequently,216,Research & Development,23,3,Life Sciences,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,1,Travel_Rarely,1299,Research & Development,27,3,Medical,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,1,Travel_Rarely,809,Research & Development,16,3,Medical,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,1,Travel_Rarely,153,Research & Development,15,2,Life Sciences,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,1,Travel_Rarely,670,Research & Development,26,1,Life Sciences,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,1,Travel_Rarely,1346,Research & Development,19,2,Medical,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,0,Travel_Rarely,103,Research & Development,24,3,Life Sciences,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,1,Travel_Rarely,1389,Research & Development,21,4,Life Sciences,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,1,Travel_Rarely,334,Research & Development,5,2,Life Sciences,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,1,Non-Travel,1123,Research & Development,16,2,Medical,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,1,Travel_Rarely,1219,Sales,2,4,Life Sciences,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,1,Travel_Rarely,371,Research & Development,2,3,Life Sciences,1,24,...,3,80,0,6,3,3,3,2,1,2
20,24,1,Non-Travel,673,Research & Development,11,2,Other,1,26,...,4,80,1,5,5,2,4,2,1,3
21,36,0,Travel_Rarely,1218,Sales,9,4,Life Sciences,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,1,Travel_Rarely,419,Research & Development,7,4,Life Sciences,1,28,...,3,80,0,13,4,3,12,6,2,11
23,21,1,Travel_Rarely,391,Research & Development,15,2,Life Sciences,1,30,...,4,80,0,0,6,3,0,0,0,0
24,34,0,Travel_Rarely,699,Research & Development,6,1,Medical,1,31,...,3,80,0,8,2,3,4,2,1,3
25,53,1,Travel_Rarely,1282,Research & Development,5,3,Other,1,32,...,4,80,1,26,3,2,14,13,4,8
26,32,0,Travel_Frequently,1125,Research & Development,16,1,Life Sciences,1,33,...,2,80,0,10,5,3,10,2,6,7
27,42,1,Travel_Rarely,691,Sales,8,4,Marketing,1,35,...,4,80,1,10,2,3,9,7,4,2
28,44,1,Travel_Rarely,477,Research & Development,7,4,Medical,1,36,...,4,80,1,24,4,3,22,6,5,17
29,46,1,Travel_Rarely,705,Sales,2,4,Marketing,1,38,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,1,Travel_Frequently,688,Research & Development,4,2,Life Sciences,1,2025,...,2,80,3,18,3,3,4,2,0,2
1441,56,1,Non-Travel,667,Research & Development,1,4,Life Sciences,1,2026,...,1,80,1,13,2,2,13,12,1,9
1442,29,0,Travel_Rarely,1092,Research & Development,1,4,Medical,1,2027,...,2,80,3,4,3,4,2,2,2,2
1443,42,1,Travel_Rarely,300,Research & Development,2,3,Life Sciences,1,2031,...,1,80,0,24,2,2,22,6,4,14
1444,56,0,Travel_Rarely,310,Research & Development,7,2,Technical Degree,1,2032,...,4,80,1,14,4,1,10,9,9,8
1445,41,1,Travel_Rarely,582,Research & Development,28,4,Life Sciences,1,2034,...,3,80,1,21,3,3,20,7,0,10
1446,34,1,Travel_Rarely,704,Sales,28,3,Marketing,1,2035,...,4,80,2,8,2,3,8,7,1,7
1447,36,1,Non-Travel,301,Sales,15,4,Marketing,1,2036,...,1,80,1,15,4,2,15,12,11,11
1448,41,1,Travel_Rarely,930,Sales,3,3,Life Sciences,1,2037,...,3,80,1,14,5,3,5,4,0,4
1449,32,1,Travel_Rarely,529,Research & Development,2,3,Technical Degree,1,2038,...,4,80,0,4,4,3,4,2,1,2
1450,35,1,Travel_Rarely,1146,Human Resources,26,4,Life Sciences,1,2040,...,3,80,0,9,2,3,9,0,1,7
1451,38,1,Travel_Rarely,345,Sales,10,2,Life Sciences,1,2041,...,3,80,1,10,1,3,10,7,1,9
1452,50,0,Travel_Frequently,878,Sales,1,4,Life Sciences,1,2044,...,4,80,2,12,3,3,6,3,0,1
1453,36,1,Travel_Rarely,1120,Sales,11,4,Marketing,1,2045,...,1,80,1,8,2,2,6,3,0,0
1454,45,1,Travel_Rarely,374,Sales,20,3,Life Sciences,1,2046,...,3,80,0,8,3,3,5,3,0,1
1455,40,1,Travel_Rarely,1322,Research & Development,2,4,Life Sciences,1,2048,...,4,80,0,8,2,3,2,2,2,2
1456,35,1,Travel_Frequently,1199,Research & Development,18,4,Life Sciences,1,2049,...,4,80,2,10,2,4,10,2,0,2
1457,40,1,Travel_Rarely,1194,Research & Development,2,4,Medical,1,2051,...,2,80,3,20,2,3,5,3,0,2
1458,35,1,Travel_Rarely,287,Research & Development,1,4,Life Sciences,1,2052,...,4,80,1,4,5,3,4,3,1,1
1459,29,1,Travel_Rarely,1378,Research & Development,13,2,Other,1,2053,...,1,80,1,10,2,3,4,3,0,3
1460,29,1,Travel_Rarely,468,Research & Development,28,4,Medical,1,2054,...,2,80,0,5,3,1,5,4,0,4
1461,50,0,Travel_Rarely,410,Sales,28,3,Marketing,1,2055,...,2,80,1,20,3,3,3,2,2,0
1462,39,1,Travel_Rarely,722,Sales,24,1,Marketing,1,2056,...,1,80,1,21,2,2,20,9,9,6
1463,31,1,Non-Travel,325,Research & Development,5,3,Medical,1,2057,...,2,80,0,10,2,3,9,4,1,7
1464,26,1,Travel_Rarely,1167,Sales,5,3,Other,1,2060,...,4,80,0,5,2,3,4,2,0,0
1465,36,1,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,1,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,1,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,1,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,1,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [50]:
Emp_data['BusinessTravel'].value_counts()

Travel_Rarely        1043
Travel_Frequently     277
Non-Travel            150
Name: BusinessTravel, dtype: int64

In [51]:
Emp_data['Department'].value_counts()

Research & Development    961
Sales                     446
Human Resources            63
Name: Department, dtype: int64

In [52]:
Emp_data['EducationField'].value_counts()

Life Sciences       606
Medical             464
Marketing           159
Technical Degree    132
Other                82
Human Resources      27
Name: EducationField, dtype: int64

In [53]:
Emp_data['BusinessTravel'].replace(['Travel_Rarely','Travel_Frequently','Non-Travel'],[1,2,3],inplace=True)
Emp_data['Department'].replace(['Research & Development','Sales','Human Resources'],[1,2,3],inplace=True)
Emp_data['EducationField'].replace(['Life Sciences','Medical','Marketing','Technical Degree','Other','Human Resources'],[1,2,3,4,5,6],inplace=True)

In [54]:
Emp_data

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,0,1,1102,2,1,2,1,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,1,2,279,1,8,1,1,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,0,1,1373,1,2,2,5,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,1,2,1392,1,3,4,1,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,1,1,591,1,2,1,2,1,7,...,4,80,1,6,3,3,2,2,2,2
5,32,1,2,1005,1,2,2,1,1,8,...,3,80,0,8,2,2,7,7,3,6
6,59,1,1,1324,1,3,3,2,1,10,...,1,80,3,12,3,2,1,0,0,0
7,30,1,1,1358,1,24,1,1,1,11,...,2,80,1,1,2,3,1,0,0,0
8,38,1,2,216,1,23,3,1,1,12,...,2,80,0,10,2,3,9,7,1,8
9,36,1,1,1299,1,27,3,2,1,13,...,2,80,2,17,3,2,7,7,7,7
10,35,1,1,809,1,16,3,2,1,14,...,3,80,1,6,5,3,5,4,0,3
11,29,1,1,153,1,15,2,1,1,15,...,4,80,0,10,3,3,9,5,0,8
12,31,1,1,670,1,26,1,1,1,16,...,4,80,1,5,1,2,5,2,4,3
13,34,1,1,1346,1,19,2,2,1,18,...,3,80,1,3,2,3,2,2,1,2
14,28,0,1,103,1,24,3,1,1,19,...,2,80,0,6,4,3,4,2,0,3
15,29,1,1,1389,1,21,4,1,1,20,...,3,80,1,10,1,3,10,9,8,8
16,32,1,1,334,1,5,2,1,1,21,...,4,80,2,7,5,2,6,2,0,5
17,22,1,3,1123,1,16,2,2,1,22,...,2,80,2,1,2,2,1,0,0,0
18,53,1,1,1219,2,2,4,1,1,23,...,3,80,0,31,3,3,25,8,3,7
19,38,1,1,371,1,2,3,1,1,24,...,3,80,0,6,3,3,3,2,1,2
20,24,1,3,673,1,11,2,5,1,26,...,4,80,1,5,5,2,4,2,1,3
21,36,0,1,1218,2,9,4,1,1,27,...,2,80,0,10,4,3,5,3,0,3
22,34,1,1,419,1,7,4,1,1,28,...,3,80,0,13,4,3,12,6,2,11
23,21,1,1,391,1,15,2,1,1,30,...,4,80,0,0,6,3,0,0,0,0
24,34,0,1,699,1,6,1,2,1,31,...,3,80,0,8,2,3,4,2,1,3
25,53,1,1,1282,1,5,3,5,1,32,...,4,80,1,26,3,2,14,13,4,8
26,32,0,2,1125,1,16,1,1,1,33,...,2,80,0,10,5,3,10,2,6,7
27,42,1,1,691,2,8,4,3,1,35,...,4,80,1,10,2,3,9,7,4,2
28,44,1,1,477,1,7,4,2,1,36,...,4,80,1,24,4,3,22,6,5,17
29,46,1,1,705,2,2,4,3,1,38,...,4,80,0,22,2,2,2,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1440,36,1,2,688,1,4,2,1,1,2025,...,2,80,3,18,3,3,4,2,0,2
1441,56,1,3,667,1,1,4,1,1,2026,...,1,80,1,13,2,2,13,12,1,9
1442,29,0,1,1092,1,1,4,2,1,2027,...,2,80,3,4,3,4,2,2,2,2
1443,42,1,1,300,1,2,3,1,1,2031,...,1,80,0,24,2,2,22,6,4,14
1444,56,0,1,310,1,7,2,4,1,2032,...,4,80,1,14,4,1,10,9,9,8
1445,41,1,1,582,1,28,4,1,1,2034,...,3,80,1,21,3,3,20,7,0,10
1446,34,1,1,704,2,28,3,3,1,2035,...,4,80,2,8,2,3,8,7,1,7
1447,36,1,3,301,2,15,4,3,1,2036,...,1,80,1,15,4,2,15,12,11,11
1448,41,1,1,930,2,3,3,1,1,2037,...,3,80,1,14,5,3,5,4,0,4
1449,32,1,1,529,1,2,3,4,1,2038,...,4,80,0,4,4,3,4,2,1,2
1450,35,1,1,1146,3,26,4,1,1,2040,...,3,80,0,9,2,3,9,0,1,7
1451,38,1,1,345,2,10,2,1,1,2041,...,3,80,1,10,1,3,10,7,1,9
1452,50,0,2,878,2,1,4,1,1,2044,...,4,80,2,12,3,3,6,3,0,1
1453,36,1,1,1120,2,11,4,3,1,2045,...,1,80,1,8,2,2,6,3,0,0
1454,45,1,1,374,2,20,3,1,1,2046,...,3,80,0,8,3,3,5,3,0,1
1455,40,1,1,1322,1,2,4,1,1,2048,...,4,80,0,8,2,3,2,2,2,2
1456,35,1,2,1199,1,18,4,1,1,2049,...,4,80,2,10,2,4,10,2,0,2
1457,40,1,1,1194,1,2,4,2,1,2051,...,2,80,3,20,2,3,5,3,0,2
1458,35,1,1,287,1,1,4,1,1,2052,...,4,80,1,4,5,3,4,3,1,1
1459,29,1,1,1378,1,13,2,5,1,2053,...,1,80,1,10,2,3,4,3,0,3
1460,29,1,1,468,1,28,4,2,1,2054,...,2,80,0,5,3,1,5,4,0,4
1461,50,0,1,410,2,28,3,3,1,2055,...,2,80,1,20,3,3,3,2,2,0
1462,39,1,1,722,2,24,1,3,1,2056,...,1,80,1,21,2,2,20,9,9,6
1463,31,1,3,325,1,5,3,2,1,2057,...,2,80,0,10,2,3,9,4,1,7
1464,26,1,1,1167,2,5,3,5,1,2060,...,4,80,0,5,2,3,4,2,0,0
1465,36,1,2,884,1,23,2,2,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,1,1,613,1,6,1,2,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,1,1,155,1,4,3,1,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,1,2,1023,2,2,3,2,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,1,1,628,1,8,3,2,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [55]:
Emp_data.corr()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
Age,1.000000,0.159205,-0.024751,0.010661,-0.007652,-0.001686,0.208034,-0.030912,NaN,-0.010145,...,0.053535,NaN,0.037510,0.680381,-0.019621,-0.021490,0.311309,0.212901,0.216513,0.202089
Attrition,0.159205,1.000000,0.000074,0.056652,-0.077351,-0.077924,0.031373,-0.062320,NaN,0.010577,...,0.045872,NaN,0.137145,0.171063,0.059478,0.063939,0.134392,0.160545,0.033019,0.156199
BusinessTravel,-0.024751,0.000074,1.000000,0.004086,-0.000935,0.024469,-0.000757,-0.021513,NaN,0.015578,...,0.035986,NaN,0.016727,-0.034226,-0.015240,0.011256,0.014575,0.011497,0.032591,0.022636
DailyRate,0.010661,0.056652,0.004086,1.000000,-0.021959,-0.004985,-0.016806,-0.023428,NaN,-0.050990,...,0.007846,NaN,0.042143,0.014515,0.002453,-0.037848,-0.034055,0.009932,-0.033229,-0.026363
Department,-0.007652,-0.077351,-0.000935,-0.021959,1.000000,0.002196,0.019636,0.253737,NaN,0.057663,...,0.016154,NaN,-0.015585,-0.006602,-0.008549,0.075507,0.029752,0.009204,0.008394,0.002874
DistanceFromHome,-0.001686,-0.077924,0.024469,-0.004985,0.002196,1.000000,0.021042,0.006907,NaN,0.032916,...,0.006557,NaN,0.044872,0.004628,-0.036942,-0.026556,0.009508,0.018845,0.010029,0.014406
Education,0.208034,0.031373,-0.000757,-0.016806,0.019636,0.021042,1.000000,0.031898,NaN,0.042070,...,-0.009118,NaN,0.018422,0.148280,-0.025100,0.009819,0.069114,0.060236,0.054254,0.069065
EducationField,-0.030912,-0.062320,-0.021513,-0.023428,0.253737,0.006907,0.031898,1.000000,NaN,0.019673,...,0.007424,NaN,-0.012237,-0.024003,-0.008468,0.044704,-0.019506,-0.016347,-0.027046,-0.011991
EmployeeCount,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EmployeeNumber,-0.010145,0.010577,0.015578,-0.050990,0.057663,0.032916,0.042070,0.019673,NaN,1.000000,...,-0.069861,NaN,0.062227,-0.014365,0.023603,0.010309,-0.011240,-0.008416,-0.009019,-0.009197
EnvironmentSatisfaction,0.010146,0.103369,-0.004174,0.018355,-0.026110,-0.016075,-0.027128,0.053399,NaN,0.017621,...,0.007665,NaN,0.003432,-0.002693,-0.019359,0.027627,0.001458,0.018007,0.016194,-0.004999
HourlyRate,0.024287,0.006846,-0.026528,0.023381,-0.021528,0.031131,0.016775,-0.045268,NaN,0.035179,...,0.001330,NaN,0.050263,-0.002334,-0.008548,-0.004607,-0.019582,-0.024106,-0.026716,-0.020123
JobInvolvement,0.029820,0.130016,-0.039062,0.046135,-0.017693,0.008783,0.042438,-0.013218,NaN,-0.006888,...,0.034297,NaN,0.021523,-0.005533,-0.015338,-0.014617,-0.021355,0.008717,-0.024184,0.025976
JobLevel,0.509604,0.169105,-0.019311,0.002966,0.088018,0.005303,0.101589,-0.003307,NaN,-0.018519,...,0.021642,NaN,0.013984,0.782208,-0.018191,0.037818,0.534739,0.389447,0.353885,0.375281
JobSatisfaction,-0.004892,0.103481,0.033962,0.030571,-0.006231,-0.003669,-0.011296,-0.041443,NaN,-0.046247,...,-0.012454,NaN,0.010690,-0.020185,-0.005779,-0.019459,-0.003803,-0.002305,-0.018214,-0.027656
MonthlyIncome,0.497855,0.159840,-0.034319,0.007707,0.056573,-0.017014,0.094961,-0.007231,NaN,-0.014829,...,0.025873,NaN,0.005408,0.772893,-0.021736,0.030683,0.514285,0.363818,0.344978,0.344079
MonthlyRate,0.028051,-0.015170,0.014107,-0.032182,-0.004124,0.027473,-0.026084,-0.029580,NaN,0.012648,...,-0.004085,NaN,-0.034323,0.026442,0.001467,0.007963,-0.023655,-0.012815,0.001567,-0.036746
NumCompaniesWorked,0.299635,-0.043494,-0.020875,0.038153,-0.011261,-0.029251,0.126317,-0.002227,NaN,-0.001251,...,0.052733,NaN,0.030075,0.237639,-0.066054,-0.008366,-0.118421,-0.090754,-0.036814,-0.110319
PercentSalaryHike,0.003634,0.013478,0.029377,0.022704,-0.034933,0.040235,-0.011111,-0.025936,NaN,-0.012944,...,-0.040490,NaN,0.007528,-0.020608,-0.005221,-0.003280,-0.035991,-0.001520,-0.022154,-0.011985
PerformanceRating,0.001904,-0.002889,0.026341,0.000473,-0.029648,0.027110,-0.024539,-0.019442,NaN,-0.020359,...,-0.031351,NaN,0.003506,0.006744,-0.015579,0.002572,0.003435,0.034986,0.017896,0.022827
RelationshipSatisfaction,0.053535,0.045872,0.035986,0.007846,0.016154,0.006557,-0.009118,0.007424,NaN,-0.069861,...,1.000000,NaN,-0.045952,0.024054,0.002497,0.019604,0.019367,-0.015123,0.033493,-0.000867
StandardHours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
StockOptionLevel,0.037510,0.137145,0.016727,0.042143,-0.015585,0.044872,0.018422,-0.012237,NaN,0.062227,...,-0.045952,NaN,1.000000,0.010136,0.011274,0.004129,0.015058,0.050818,0.014352,0.024698
TotalWorkingYears,0.680381,0.171063,-0.034226,0.014515,-0.006602,0.004628,0.148280,-0.024003,NaN,-0.014365,...,0.024054,NaN,0.010136,1.000000,-0.035662,0.001008,0.628133,0.460365,0.404858,0.459188
TrainingTimesLastYear,-0.019621,0.059478,-0.015240,0.002453,-0.008549,-0.036942,-0.025100,-0.008468,NaN,0.023603,...,0.002497,NaN,0.011274,-0.035662,1.000000,0.028072,0.003569,-0.005738,-0.002067,-0.004096
WorkLifeBalance,-0.021490,0.063939,0.011256,-0.037848,0.075507,-0.026556,0.009819,0.044704,NaN,0.010309,...,0.019604,NaN,0.004129,0.001008,0.028072,1.000000,0.012089,0.049856,0.008941,0.002759
YearsAtCompany,0.311309,0.134392,0.014575,-0.034055,0.029752,0.009508,0.069114,-0.019506,NaN,-0.011240,...,0.019367,NaN,0.015058,0.628133,0.003569,0.012089,1.000000,0.758754,0.618409,0.769212
YearsInCurrentRole,0.212901,0.160545,0.011497,0.009932,0.009204,0.018845,0.060236,-0.016347,NaN,-0.008416,...,-0.015123,NaN,0.050818,0.460365,-0.005738,0.049856,0.758754,1.000000,0.548056,0.714365
YearsSinceLastPromotion,0.216513,0.033019,0.032591,-0.033229,0.008394,0.010029,0.054254,-0.027046,NaN,-0.009019,...,0.033493,NaN,0.014352,0.404858,-0.002067,0.008941,0.618409,0.548056,1.000000,0.510224
YearsWithCurrManager,0.202089,0.156199,0.022636,-0.026363,0.002874,0.014406,0.069065,-0.011991,NaN,-0.009197,...,-0.000867,NaN,0.024698,0.459188,-0.004096,0.002759,0.769212,0.714365,0.510224,1.000000